In [1]:
import pandas as pd

COLUMNS: Period, Org Code, Parent Org,

Write down the year you want to merge and check if the sheet name is correct.
if all is set, run all the cells below.

In [7]:
year = '2017'
sheet_name = 'Provider Level Data'

In [11]:
from pathlib import Path
files = list(Path(year).glob('*.xls'))

In [26]:
columns = "Period,Org Code,Parent Org,Org name,Number of A&E attendances Type 1,Number of A&E attendances Type 2,Number of A&E attendances Other A&E Department,Number of attendances over 4hrs Type 1,Number of attendances over 4hrs Type 2,Number of attendances over 4hrs Other A&E Department,Patients who have waited 4-12 hs from DTA to admission,Patients who have waited 12+ hrs from DTA to admission,Emergency admissions via A&E - Type 1,Emergency admissions via A&E - Type 2,Emergency admissions via A&E - Other A&E department,Other emergency admissions".split(',')

In [214]:
columns

['Period',
 'Org Code',
 'Parent Org',
 'Org name',
 'Number of A&E attendances Type 1',
 'Number of A&E attendances Type 2',
 'Number of A&E attendances Other A&E Department',
 'Number of attendances over 4hrs Type 1',
 'Number of attendances over 4hrs Type 2',
 'Number of attendances over 4hrs Other A&E Department',
 'Patients who have waited 4-12 hs from DTA to admission',
 'Patients who have waited 12+ hrs from DTA to admission',
 'Emergency admissions via A&E - Type 1',
 'Emergency admissions via A&E - Type 2',
 'Emergency admissions via A&E - Other A&E department',
 'Other emergency admissions']

In [25]:
names_17 = ['Period', 'Org Code', 'Parent Org', 'Org name',
            'Number of A&E attendances Type 1',
            'Number of A&E attendances Type 2',
            'Number of A&E attendances Other A&E Department',
            'Total attendances',
            'Type 1 Departments - Major A&E.1',
            'Type 2 Departments - Single Specialty.1',
            'Type 3 Departments - Other A&E/Minor Injury Unit.1',
            'Total Attendances < 4 hours',
            'Number of attendances over 4hrs Type 1',
            'Number of attendances over 4hrs Type 2',
            'Number of attendances over 4hrs Other A&E Department',
            'Total Attendances > 4 hours',
            'Percentage in 4 hours or less (type 1)',
            'Percentage in 4 hours or less (all)',
            'Emergency admissions via A&E - Type 1',
            'Emergency admissions via A&E - Type 2',
            'Emergency admissions via A&E - Other A&E department',
            'Total Emergency Admissions via A&E',
            'Other emergency admissions',
            'Total Emergency Admissions',
            'Patients who have waited 4-12 hs from DTA to admission',
            'Patients who have waited 12+ hrs from DTA to admission']

In [13]:
names = ['Period',
         'Org Code',
         'Parent Org',
         'Org name',
         'Number of A&E attendances Type 1',
         'Number of A&E attendances Type 2',
         'Number of A&E attendances Other A&E Department',
         'Total attendances',
         'A&E attendances Booked Appointments Type 1',
         'A&E attendances Booked Appointments Type 2',
         'A&E attendances Booked Appointments Other Department',
         'Total Attendances < 4 hours',
         'Number of attendances over 4hrs Type 1',
         'Number of attendances over 4hrs Type 2',
         'Number of attendances over 4hrs Other A&E Department',
         'Total Attendances > 4 hours',
         'Percentage in 4 hours or less (type 1)',
         'Percentage in 4 hours or less (all)',
         'Emergency admissions via A&E - Type 1',
         'Emergency admissions via A&E - Type 2',
         'Emergency admissions via A&E - Other A&E department',
         'Total Emergency Admissions via A&E',
         'Other emergency admissions',
         'Total Emergency Admissions',
         'Patients who have waited 4-12 hs from DTA to admission',
         'Patients who have waited 12+ hrs from DTA to admission'
         ]

In [23]:
attendance = pd.DataFrame()
for file in files:
    try:
        data = pd.read_excel(file,sheet_name=sheet_name,skiprows=15).iloc[2:,:-1].copy()
        data.columns = names_17
        data['Period'] = 'MSitAE' + '-' + file.name.split('-')[0].upper() + '-' + file.name.split('-')[1]
    except Exception as e:
        print(e)
        print(file)
    attendance = pd.concat([attendance,data.copy()])

Length mismatch: Expected axis has 22 elements, new values have 26 elements
2017\February-2017-AE-by-provider-q440L.xls
Length mismatch: Expected axis has 22 elements, new values have 26 elements
2017\January-2017-AE-by-provider-qD8a6.xls
Length mismatch: Expected axis has 22 elements, new values have 26 elements
2017\March-2017-AE-by-provider-43JyG.xls

In [30]:
attendance[columns].to_csv(f'{year}/excel_merging_{year}.csv',index=False)

In [8]:
files_csv = list(Path(year).glob('*.csv'))
attendance_datas = pd.DataFrame()

In [9]:
for file in files_csv:
    data = pd.read_csv(file)
    attendance_datas = pd.concat([attendance_datas,data.copy()])

In [10]:
attendance_datas

Empty DataFrame
Columns: []
Index: []

In [222]:
attendance_datas[columns]

,Period,Org Code,Parent Org,Org name,Number of A&E attendances Type 1,Number of A&E attendances Type 2,Number of A&E attendances Other A&E Department,Number of attendances over 4hrs Type 1,Number of attendances over 4hrs Type 2,Number of attendances over 4hrs Other A&E Department,Patients who have waited 4-12 hs from DTA to admission,Patients who have waited 12+ hrs from DTA to admission,Emergency admissions via A&E - Type 1,Emergency admissions via A&E - Type 2,Emergency admissions via A&E - Other A&E department,Other emergency admissions
0,MSitAE-April-2018,C82009,NHS ENGLAND MIDLANDS AND EAST (CENTRAL MIDLANDS),MARKET HARBOROUGH MED.CTR,0,0,356,0,0,0,0,0,0,0,0,0
1,MSitAE-April-2018,NLO11,NHS ENGLAND MIDLANDS AND EAST (CENTRAL MIDLANDS),MARKET HARBOROUGH URGENT CARE CENTRE,0,0,637,0,0,14,0,0,0,0,0,0
2,MSitAE-April-2018,NLO01,NHS ENGLAND NORTH (CUMBRIA AND NORTH EAST),NORTHERN DOCTORS URGENT CARE,0,0,4532,0,0,154,0,0,0,0,0,0
3,MSitAE-April-2018,REF,NHS ENGLAND SOUTH WEST (SOUTH WEST SOUTH),ROYAL CORNWALL HOSPITALS NHS TRUST,6014,0,11044,355,0,67,49,0,2685,0,33,1036
4,MSitAE-April-2018,RWY,NHS ENGLAND NORTH (YORKSHIRE AND HUMBER),CALDERDALE AND HUDDERSFIELD NHS FOUNDATION TRUST,11892,0,0,1009,0,0,192,0,2939,0,0,1378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,MSitAE-SEPTEMBER-2018,RWD,NHS ENGLAND MIDLANDS AND EAST (CENTRAL MIDLANDS),UNITED LINCOLNSHIRE HOSPITALS NHS TRUST,11990,0,1593,4086,0,0,1286,1,3659,0,0,1041
236,MSitAE-SEPTEMBER-2018,RXG,NHS ENGLAND NORTH (YORKSHIRE AND HUMBER),SOUTH WEST YORKSHIRE PARTNERSHIP NHS FOUNDATIO...,0,0,0,0,0,0,0,0,0,0,0,120
237,MSitAE-SEPTEMBER-2018,RQX,NHS ENGLAND LONDON,HOMERTON UNIVERSITY HOSPITAL NHS FOUNDATION TRUST,10120,0,0,478,0,0,52,0,1650,0,0,246
238,MSitAE-SEPTEMBER-2018,RCD,NHS ENGLAND NORTH (YORKSHIRE AND HUMBER),HARROGATE AND DISTRICT NHS FOUNDATION TRUST,4234,0,774,236,0,0,5,0,937,0,0,479
239,TOTAL,TOTAL,TOTAL,TOTAL,1269088,47622,688985,216210,622,4924,44428,154,379951,1389,4635,124347

In [223]:
attendances = pd.concat([attendance_datas[columns],attendance[columns]])

In [224]:
attendances

,Period,Org Code,Parent Org,Org name,Number of A&E attendances Type 1,Number of A&E attendances Type 2,Number of A&E attendances Other A&E Department,Number of attendances over 4hrs Type 1,Number of attendances over 4hrs Type 2,Number of attendances over 4hrs Other A&E Department,Patients who have waited 4-12 hs from DTA to admission,Patients who have waited 12+ hrs from DTA to admission,Emergency admissions via A&E - Type 1,Emergency admissions via A&E - Type 2,Emergency admissions via A&E - Other A&E department,Other emergency admissions
0,MSitAE-April-2018,C82009,NHS ENGLAND MIDLANDS AND EAST (CENTRAL MIDLANDS),MARKET HARBOROUGH MED.CTR,0.0,0.0,356.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MSitAE-April-2018,NLO11,NHS ENGLAND MIDLANDS AND EAST (CENTRAL MIDLANDS),MARKET HARBOROUGH URGENT CARE CENTRE,0.0,0.0,637.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0
2,MSitAE-April-2018,NLO01,NHS ENGLAND NORTH (CUMBRIA AND NORTH EAST),NORTHERN DOCTORS URGENT CARE,0.0,0.0,4532.0,0.0,0.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MSitAE-April-2018,REF,NHS ENGLAND SOUTH WEST (SOUTH WEST SOUTH),ROYAL CORNWALL HOSPITALS NHS TRUST,6014.0,0.0,11044.0,355.0,0.0,67.0,49.0,0.0,2685.0,0.0,33.0,1036.0
4,MSitAE-April-2018,RWY,NHS ENGLAND NORTH (YORKSHIRE AND HUMBER),CALDERDALE AND HUDDERSFIELD NHS FOUNDATION TRUST,11892.0,0.0,0.0,1009.0,0.0,0.0,192.0,0.0,2939.0,0.0,0.0,1378.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,MSitAE-MARCH-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,MSitAE-MARCH-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,MSitAE-MARCH-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,MSitAE-MARCH-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,MSitAE-MARCH-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
attendances.to_csv(f'{year}/excel_merging_{year}.csv',index=False)

NameError: name 'attendances' is not defined